body {
    display: flex;
    flex-direction: column;
    font-family: Arial;
    margin: 0;
    min-height: 100vh;
}
header{
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}
main{
    display: flex;
    align-items:stretch;
    flex: 1;
}
section{
    flex: 2;
    padding: 20px;
    background-color: #f2f2f2;
}
aside{
    flex: 1;
    padding: 20px;
    background-color: #ddd;
}
footer{
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}