body{
    display: flex;
    flex-direction: column;
    font-family: tahoma;
    margin: 0;
}
header{
    background: #9E8FB2;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}
nav{
    display: flex;
    background: #011627;
    color: #fff;
    justify-content: center;
    
}
nav a{
    padding: 10px 20px;
    text-decoration: none;
    color: #fff;

}
nav a:hover{
    background: #A7ACD9;   
}
figure{
    width: 100%;
    margin: 0;
}
main{
    display: flex;
}
div{ /*doet niet echt iets */
    display: flex;
    flex-direction: column;
}
section{
    display: flex;
    flex: 3;
    flex-direction:column ;
    padding: 20px;
    margin-left: 5px;
}
aside{
    display: flex;
    flex:1;
    background: #D2CEC6;
    flex-direction: column; 
    padding: 10px;
}
img{
    width: 100%;
}
footer{
    display:flex;
    background-color: #011627 ;
    color: #fff;
    justify-content: center;
}